.music-swiper .swiper-wrapper {
  display: flex;
  align-items: center;
}

.music-swiper .swiper-button-prev,
.music-swiper .swiper-button-next {
  color: rgb(28, 0, 110); /* Change this to any color you want */
  padding-left: 2rem;
  padding-right: 2rem;
}
