#portfolioPage {
  /* Encourages the browser to use GPU resources since these values will change frequently */
  will-change: transform, opacity, x, y, top, right, left, bottom, filter;
}

@keyframes fadeAndSlide {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
